*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    height: 100px;
}
.logo{
    height: 50px;
}
.section{
    height: 200px;
    background-image: url(../immagini/banner.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-left: 25px;
    
}
    

.margini{
}

    
    
.testoG{
    font-size: 25px;
    color: white;
    padding-top: 25px;
    margin-left: 10px;

}
.testoP{
    font-size: 10px;
    color: white;
    margin-left: 10px;
    
}
.margineh1{
    margin-top: 15px;
    margin-bottom: 10px;
}
h1{
    font-size: 30px;
}
.testoh1{
    font-size: 10px;
    color: grey;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}


.float-right{
    float: right;
}
aside{
    width: 300px;
    height: 250px;
    
    
}
.img-left{
    width: 300px;
    height: 90px;
    
}
.textp-left{
    color: grey;
    font-size: 15px;

}
.Text-left{
    color: grey;
    font-size: 10px;
}
main{
    width: 580px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}
    
.img-right{
    width: 300px;
    height: 90px;
}
.testxp-right{
    color: grey;
    font-size: 15px;
}
.text-right{
    color: grey;
    font-size: 10px;

}
.img-banner2{
    width: 580px;
    height: 90px;

}
.textp-centrale{
    color: grey;
    font-size: 15px;
}
.text-centrale{
    color: grey;
    font-size: 10px;
}

